@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    color: #cc6633;
    font-family: serif;
}
main {
    padding-top: 60px;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
li {
    list-style: none;
}
a {
    color: #cc6633;
    text-decoration: none;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.header .logo {
    max-width: 180px;
    line-height: 0; /*h1にはデフォで8pxの上下余白(margin)が搭載。消す*/
}
.header .logo a {
    display: block;
}
.header ul {
    display: flex;
}
.header li {
    font-size: 16px;
    margin-left: 20px;
}

/* 共通 */
.section-title {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
}
  
.btn {
    display: inline-block;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: bold;
}
  
.btn--primary {
    letter-spacing: 0.1rem;
    background: #5a3e2b;
    color: #fff;
}
  
/* ファーストビュー */
.fv {
    display: flex;
    align-items: center;
    background: #f8f6f2; /* 紅茶系の淡い背景 */
    padding: 58px 0px;
  } 
.fv__inner {
    width: 45%;
}
.fv__text {
    max-width: 500px;
    padding: 0 40px 0 20px;
    margin-left: auto;
}
.fv__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 30px;
}
.fv__lead {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 60px;
    color: #555;
}
.fv__image {
    width: 55%;
}
.fv__image img {
    width: 100%;
    height: auto;
}
  
/* コンセプト */
.concept {
    text-align: center;
    line-height: 1.8;
    padding: 100px 0;
}
.concept__phrase {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

  /* 特徴 */
.features {
    padding: 80px 0;
    background: #fafafa;
}
.features__list {
    max-width: 720px;
    margin: 0 auto;
  }
  
.features__list li {
    position: relative;
    padding-left: 32px;
    margin-bottom: 16px;
    font-size: 1.3rem;
    line-height: 1.7;
}
  
.features__list li::before {
    content: "✓";
    position: absolute;
    left: 0;
    top: 0;
    color: #b68c5a; /* 紅茶系カラー */
    font-weight: bold;
}
 

  /* セット内容 */
.contents {
    padding: 80px 0;
}
  
.contents__cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
  
.tea-card img {
    width: 100%;
    height: 200px;
    margin-bottom: 12px;
    object-fit: cover;
    object-position: bottom;
}
  
.tea-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
  
  /* 価格 */
.price {
    padding: 80px 0;
    background: #f6f3ef;
}
  
.price__inner {
    display: flex;
    align-items: center;
    gap: 40px;
}
.price__image {
    width: 50%;
}
.price__image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    align-items: right;
}
.price__info {
    width: 50%;
    margin-left: 60px;
}
.price__volume {
    margin-bottom: 8px;
} 
.price__amount {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}
  /* フッター */
.footer {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 30px 0;
    background: #333;
    color: #fff;
    text-align: center;
}
  
/*--------------------------------------
スマートフォン用
--------------------------------------*/
@media screen and (max-width: 767px) {
    .wrapper {
        width: 90%;
    }
    .section-title {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .header .logo {
        max-width: 100px;
    }
    .header li {
        font-size: 12px;
        margin-left: 10px;
    }

    .fv {
        flex-direction: column-reverse;
        margin-top: 0;
        padding: 0;
    }
    .fv__inner {
        width: 100%;
        margin: 30px 0;
    }
    .fv__text, .fv__image {
        width: 100%;
        padding: 0;
        margin-right: auto;
    }
    .fv__text {
        text-align: center;
    }
    .fv__title {
        font-size: 24px;
    }
    .fv__lead {
        font-size: 12px;
    }

    .concept {
        padding: 80px 0;
    }
    .concept p {
        font-size: 0.9rem;
    }

    .features {
        padding: 60px 20px;
    }
    .features__list li {
        font-size: 0.9rem;
    }

    .contents__cards {
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }
    .tea-card {
        padding: 20px 0;
    }
    .tea-card p {
        font-size: 0.9rem;
        padding-top: 4px;
    }
    .price__inner {
        flex-direction: column;
    }
    .price__image {
        width: 80%;
    }
    .price__image img {
        object-fit: cover;
        height: 280px;
        object-position: center;
    }
    .price__info {
        margin-left: 0;
    }
    .price__amount {
        font-size: 28px;
    }
    .footer {
        font-size: 0.6rem;
        padding: 16px 0;
    }
}

